<!-- Do not change the code! -->
<a id="foxyform_embed_link_487492" href="http://www.foxyform.com/">foxyform</a>
<script type="text/javascript" src="http://www.foxyform.com/js.php?id=487492&sec_hash=edead0c2e51&width=350px"></script>
<!-- This version doesn't work:
<script type="text/javascript">
(function(d, t){
   var g = d.createElement(t),
       s = d.getElementsByTagName(t)[0];
   g.src = "http://www.foxyform.com/js.php?id=487492&sec_hash=edead0c2e51&width=350px";
   s.parentNode.insertBefore(g, s);
}(document, "script"));
</script>
-->
<!-- Do not change the code! -->